@import 'variables.pcss';

@font-face {
  font-family: 'Roboto Regular';
  src: url('../static/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../static/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('../static/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('../static/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('../static/fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
}

html {
  position: relative;
  min-height: 100%;
}
